@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./font/Gilroy-Semibold.woff2');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    background: #FFF;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
.container2{
    max-width: 1170px;
    margin: 0 auto;
    background: #FAFAFA;
}

header{
    margin-top: 40px;
    margin-bottom: 84px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    width: 533px; /* max-width не работает, если в .navigation есть flex, он его сразу же сжимает*/
    display: flex;
    justify-content: space-between;
}

.home{
    color: #F25822;
    font-family: Gilroy-Semibold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about{
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main{
    margin-bottom: 162px;
}

.main-content{
    display: flex;
    gap: 41px;
    /* justify-content: space-between; */
}

.main-content-btn-list{
    display: flex;
    align-items: center;
    gap: 72px;
}

.text1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.text2{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
    max-width: 466px;
}

.video{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button{
    border-radius: 50px;
    font-family: Gilroy-Bold;
    background: #F25822;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
    cursor: pointer;
    border: none;
}

.logos{
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
}

.card_lists{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 59px;
}

.card1{
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 29px;
    padding-right: 31px;
    max-width: 370px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card1_easy{
    padding-top: 40px;
    padding-bottom: 25px;
    max-width: 370px;
}

.text3{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}

.text4{
    color: #666;
    font-family: Gilroy-Medium;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 17px;
    width: 310px;
    margin-bottom: 25px;
}

.read_more{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.test5{
    color: #000;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 92px;
    padding-bottom: 19px;
}

.text6{
    color: #666;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 688px;
    margin: 0 auto;
    padding-bottom: 54px;
}


.section_end{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.seo{
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.text7{
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 22px;
}

.text7_1{
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 14px;
    padding-bottom: 22px;
}

.text8{
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    padding-bottom: 39px;
    margin: 0 auto;
}

.flex_button2{
    display: flex;
    justify-content: center;
}

.button2{
    border-radius: 50px;
    font-family: Gilroy-Bold;
    background: #F25822;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
    cursor: pointer;
    border: none;
}

.section_div_end{
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: #FFF;
}